* ,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: slategrey;
}

#container {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./img/bgImg.jpg');
    max-width: 100rem;
    height: 55rem;
    background-size: cover;
    margin: 10rem auto;
}

#calculator {
    width: 32rem;
    height: 52rem;
    background-color: #eaedef;
    margin: 0 auto;
    position: relative;
    top: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(41, 38, 38);
}

#result {
    height: 12rem;
    text-align: right;
    margin: 0 2rem;

}
#history {
    height: 2rem;
    padding-top: 2rem;
    font-size: 1.5rem;
    color: rgb(58, 58, 58);

}

#output {
    height: 6rem;
    padding-top: 1rem 2rem;
    font-size: 3rem;
}

#keyboard {
    height: 42rem;
}
.operator, .number, .empty {
    width: 5rem;
    height: 5rem;
    margin: 1.5rem;
    border-radius: 50%;
    border: none;
    float: left;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.number, .operator {
    background-color: rgba(112, 128, 144, 0.212);
}
.number:active, .operator:active {
    font-size: 1.3rem;
}

.number:focus, .operator:focus, .empty:focus {
    outline: none;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}

@media screen and (max-width: 575px) {
    #container {
        margin: 0 auto;
        padding-top: 8rem;
        height: 100vh;
    }
}